.myWimage{
    min-height: 50vh;
    background-size: cover;
    position: relative;
    color: white;
}
.myWimageRd{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.45);
}
.myCardRd{
    width: 100%;
    height: 100%;
 
    background-color: rgba(37, 37, 37, 0.45);
}
.myRectangle{
    background-image: url(/13\ 1.png);
    background-position: right;
    

}
.myRectangleT{
    background-color: white;
    border-bottom-right-radius: 8pc;

    
    
}
@media only screen and (max-width: 600px) {
    .myWimage{
        min-height: 28vh;
    }
  }

